<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
<div class="padding">
  <br>
  <ion-item>
    <ion-input placeholder='Nom'></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input placeholder='Prénom'></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input placeholder='Login'></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-input placeholder='Mot de passe' type="password"></ion-input>
  </ion-item>
  <br>
  <ion-button color="start" expand="block" shape="round">Enregistrer</ion-button>
</div>
</ion-content>